"*":
  "atom-beautify": {}
  core:
    disabledPackages: [
      "metrics"
      "language-php"
      "exception-reporting"
      "tabs-to-spaces"
      "script"
      "language-mustache"
      "linter-csslint"
      "pigments"
      "linter-handlebars"
      "atom-beautify"
      "atom-django"
      "autocomplete-haskell"
      "autocomplete-java"
      "haskell-ghc-mod"
      "highlight-selected"
      "ide-haskell"
      "ide-haskell-cabal"
      "language-haskell"
      "linter-flake8"
      "linter-jshint"
      "linter-ruby"
      "markdown-pdf"
    ]
  editor:
    fontSize: 19
    invisibles: {}
    tabType: "soft"
  emmet: {}
  "highlight-selected": {}
  linter:
    errorPanelHeight: 151
  "merge-conflicts": {}
  minimap: {}
  "open-recent": {}
  pigments:
    mergeColorDuplicates: true
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
