"*":
  "atom-beautify": {}
  core:
    disabledPackages: [
      "metrics"
      "language-php"
      "exception-reporting"
      "tabs-to-spaces"
      "script"
      "language-mustache"
      "linter-csslint"
      "pigments"
    ]
  editor:
    invisibles: {}
  emmet: {}
  "highlight-selected": {}
  linter: {}
  "merge-conflicts": {}
  minimap: {}
  "open-recent": {}
  pigments:
    mergeColorDuplicates: true
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
